# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.properties
*.map
*.d
*.elf
*.hex


# Extra folders
ELB_DevelopmentSoftwares/
release_notes/
mplab-x-sdk/
build/
PICkit3/
dist/
production/
libpPIC24F/
!AVIX_PIC24-dsPIC_MICROCHIP_MPLAB_FD_050000_PIC24FJ256GB210_FH.a

